@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ebe9e9;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: #888888;
}

.board {
    width: 80vw;
    margin: 100px auto;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
}
/* 보드 타이틀*/
.board .board_title{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}
/* 보드 */
.board_main {
    width: 100%;
}

.board_main .board_list {
    width: 100%;
}
.board_main .board_list_top {
    width: 100%;
}
.board_main{
    border-top: 5px solid rgb(0, 0, 0);
}
.board_main .board_list_top .list {
    border-bottom: 1px solid rgb(169, 168, 168);
    text-align: center;
    padding: 0px 7px;
}

.board_main .board_list_top div div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
}

.board_main .board_list_top div .num {
    width: 10%;
    text-align: center;
    font-weight: 900;
}

.board_main .board_list_top div .title {
    width: 48%;
    text-align: center;
    font-weight: 900;
}

.board_main .board_list_top div .writer {
    width: 20%;
    text-align: center;
    font-weight: 900;
}

.board_main .board_list_top div .date {
    width: 10%;
    text-align: center;
    font-weight: 900;
}

.board_main .board_list_top div .view {
    width: 10%;
    text-align: center;
    font-weight: 900;
}

.board_main .board_list .list {
    border-bottom: 1px solid rgb(169, 168, 168);
    text-align: center;
}

.board_main .board_list_top div div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
}
.board_main .board_list div div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
}

.board_main .board_list div .num {
    width: 10%;
    text-align: center;
}

.board_main .board_list div .title {
    width: 48%;
    text-align: center;
}

.board_main .board_list div .writer {
    width: 20%;
    text-align: center;
}

.board_main .board_list div .date {
    width: 10%;
    text-align: center;
}

.board_main .board_list div .view {
    width: 10%;
    text-align: center;
}
/*페이지*/
.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    margin: auto;
    padding-top: 6px;
    font-size: 1.4rem;
}
.board_page a.next {
    margin: auto;
    padding-top: 6px;
    font-size: 1.4rem;
}
.board_page a.prev {
    margin: auto;
    padding-top: 6px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}
/* 작성 버튼*/
.register{
    text-align: center;
    padding: 20px;
    
}
.register button{
    display: inline-block;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    background-color: pink;
}
.register .white{
    background-color: white;
    padding: 6px 23px;
    border: 2px solid pink;
}
@media (max-width: 1100px) {

    .board_list .list .num,
    .board_list .list .view {
        display: none;
    }
    .board_list_top .list .num,
    .board_list_top .list .view {
        display: none;
    }

    .board_main .board_list_top div .title {
        width: 47%;
    }

    .board_main .board_list_top div .writer {
        width: 30%;
    }

    .board_main .board_list_top div .date {
        width: 20%;
    }
    .board_main .board_list div .title {
        width: 48%;
    }

    .board_main .board_list div .writer {
        width: 30%;
    }

    .board_main .board_list div .date {
        width: 20%;
    }
}
@media screen and (max-width: 480px) {
    /* 480px 이하일 때 적용할 스타일 */
    .board .board_title{
        font-size: 20px;
    }
    .board_main .board_list_top div .title {
        width: 47%;
        font-size: 13px;
    }

    .board_main .board_list_top div .writer {
        width: 30%;
        font-size: 13px;
    }

    .board_main .board_list_top div .date {
        width: 20%;
        font-size: 13px;
    }
    .board_main .board_list div .title {
        width: 48%;
        font-size: 13px;
    }

    .board_main .board_list div .writer {
        width: 30%;
        font-size: 13px;
    }

    .board_main .board_list div .date {
        width: 20%;
        font-size: 13px;
    }
    .board_page a{
        width: 26px;
        height: 26px;
    }
    .board_page a.num {
        margin: auto;
        padding-top: 6px;
        font-size: 1.0rem;
    }
    .board_page a.next {
        margin: auto;
        padding-top: 6px;
        font-size: 1.0rem;
    }
    .board_page a.prev {
        margin: auto;
        padding-top: 6px;
        font-size: 1.0rem;
    }
  }
  @media (max-width: 280px) {
    .board_main .board_list_top .list{
        padding: 0;
    }
    .board_main .board_list_top div .title {
        width: 45.5%;
        font-size: 13px;
    }

  }