@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ebe9e9;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: #888888;
}
button{
    border: none;
    border-radius: 5px;
    background-color: pink;
    cursor: pointer;
}
.board {
    width: 80vw;
    margin: 100px auto;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
}
/* 보드 타이틀*/
.board .board_title{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-family: 'Dongle', sans-serif;
    font-size: 30px;
}
/* 작성 버튼*/
.register{
    text-align: center;
    padding: 20px;
    
}
.register button{
    display: inline-block;
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    background-color: pink;
}
.register .white{
    background-color: white;
    padding: 6px 23px;
    border: 2px solid pink;
}
/* view*/
.board_view_main{
    border-top: 5px solid rgb(0, 0, 0);
}
.board_view_main .board_view{
    width: 100%;
}
.board_view_main .board_view .title{
    padding: 15px;
    border-bottom: 1px solid black;
}
.board_view_main .board_view .info dl{
    display: inline-block;
}
.board_view_main .board_view .info dl dt,
.board_view_main .board_view .info dl dd{
    display: inline-block;
    padding: 10px;
}
.board_view_main .board_view .info dl dd{
    color: #888888;
}
.board_view_main .board_view .content{
    min-height: 100px;
    padding: 10px;
}
/*댓글*/
.comment{
    border-top: 1px solid black;
    padding: 30px;
}
.comment .comment_title{
    padding: 5px;
    text-align: center;
}
.comment .comment_register{
    width: 50%;
    margin: auto;
}
.comment .comment_register textarea{
    width: 100%;
    height: 100px;
    resize: none;
    font-size: 15px;
}
.comment .comment_button{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.comment .comment_button button{
    margin-left: 5px;
    padding: 5px 20px;
}
.comment .comment_list{
    width: 50%;
    margin: 20px auto;
}
.comment .comment_list .comment_item{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0;
    margin: 20px auto;
}
.comment .comment_list .comment_item textarea{
    width: 99%;
    border: none;
    resize: none;
}
.board_view_main .comment_list .info dl{
    display: inline-block;
}
.board_view_main .comment_list .info dl dt,
.board_view_main .comment_list .info dl dd{
    display: inline-block;
    padding: 5px;
}
.board_view_main .comment_list .info dl dd{
    color: #888888;
}
.board_view_main .comment_list .comment_content{
    padding: 5px;
    border-top: 1px solid black;
}
.board_view_main .comment_list .comment_button{
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    width: 100%;
    padding-top: 5px;
}
.board_view_main .comment_list .comment_button button{
    padding: 5px 20px;
}

.modal{
    display: none;
}
.modal button{
    padding: 5px 10px;
}
.modal textarea{
    width: 400px;
    height: 50px;
}
.modal.on{
    width: 400px;
    height: 50px;
    display: block;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}
.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 어둡게 만들 배경 색상 */
    z-index: 1; /* 모달보다 아래에 위치하도록 z-index 설정 */
    display: none;
}
.modal-background.on{
    display: block;
}



/*페이지*/
.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 6px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}
.board_page a.next {
    margin: auto;
    padding-top: 6px;
    font-size: 1.4rem;
}
.board_page a.prev {
    margin: auto;
    padding-top: 6px;
    font-size: 1.4rem;
}