<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="head"></div>
    <div class="board">
        <div class="board_title">
            <h1>게시판</h1>          
        </div>
        <div class="board_main">
            <div class="board_list_top">
                <div class="list">
                    <div class="num">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">작성자</div>
                    <div class="date">작성일</div>
                    <div class="view">조회수</div>
                </div>
            </div>
            <div class="board_list">

            </div>
            <div class="board_page">
                
            </div>
            <div class="register">
                <button><a href="/register">작성</a></button>
            </div>
        </div>
    </div>
</body>
<script src="/javascript/list.js"></script>
<script src="/javascript/header.js"></script>
</html>