<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정페이지</title>
    <link rel="stylesheet" href="/css/update.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascript/update.js"></script>
</head>
<body>
    <div class="board">
        <div class="board_title">
            <h1>수정페이지</h1>          
        </div>
        <div class="board_update_main">
            <div class="board_update">
                <div class="title">
                    <h3>제목</h3>
                    <textarea class="text_title"></textarea>
                </div>
                <div class="content">
                    <h3>내용</h3>
                    <textarea class="text_content"></textarea>
                </div>
                <input type="hidden" class="text_view">
            </div>
            <div class="register">
                <button onclick="update()">수정</button>
                <button class="white"><a href="/list">취소</a></button>
            </div>
        </div>
    </div>
</body>
</html>