<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
    <div class="board">
        <div class="board_title">
            <h1>상세페이지</h1>
            <p>혼저옵서예혼저옵서예혼저옵서예</p>            
        </div>
        <div class="board_view_main">
            <div class="board_view">
                <div class="title">
                    <h1>제목ㅇ오오오오옥</h1>
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>1</dd>
                    </dl>
                    <dl>
                        <dt>작성자</dt>
                        <dd>라온</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>2023-04-26</dd>
                    </dl>
                    <dl>
                        <dt>조회수</dt>
                        <dd>1</dd>
                    </dl>
                </div>
                <div class="content">
                    너무 졸리다....
                </div>
            </div>
            <div class="register">
                <button><a href="list.html">목록</a></button>
                <button class="white"><a href="update.html">수정</a></button>
            </div>
        </div>
    </div>
</body>
</html>