<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/view.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascript/view.js"></script>
    <script src="/javascript/delete.js"></script>
</head>

<body>
    <div class="board">
        <div class="board_title">
            <h1>상세페이지</h1>
        </div>
        <div class="board_view_main">
            <div class="board_view">
                <div class="title">
                    <h1></h1>
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt>작성자</dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt>조회수</dt>
                        <dd></dd>
                    </dl>
                </div>
                <div class="content">
                </div>
            </div>
            <div class="register">
                <button><a href="/list">목록</a></button>
                <button class="white">수정</button>
                <button onclick="listdelete()">삭제</button>
            </div>
            <div class="comment">
                <div class="comment_title">
                    <h3>댓글</h3>
                </div>
                <div class="comment_register">
                    <textarea class="text_comment"></textarea>
                </div>
                <div class="comment_button">
                    <button onclick="commentregister()">등록</button>
                    <button>취소</button>
                </div>
                <div class="comment_list">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal">
        <textarea></textarea>
        <button>저장</button>
    </div>
</body>

</html>